.learn-btn:hover .learn-menu,
.learn-menu:hover {
  display: block;
}

.learn-menu {
  display: none;
  position: absolute;
  top: 103%;
}

.ham-btn:hover .ham-menu,
.ham-menu:hover {
  display: block;
}

.ham-menu {
  display: none;
  position: absolute;
  top: 103%;
}

.banner-offer {
  background: rgb(5, 7, 32);
  background: linear-gradient(30deg, rgba(5, 7, 32, 1) 0%, rgb(23, 23, 160) 100%);
}

html {
  scroll-behavior: smooth;
}